/*
--------------------------------------------------------------------------------
Misc fixes added by MJW in the CiviCRM Haystack extension
--------------------------------------------------------------------------------
 */
/* If using a bootstrap theme ensure that labels are display properly in TD elements. */
#crm-container td.label {
  white-space: normal;
  display: table-cell;
  color: inherit;
}

/* For reports, make sure the text is visible */
#crm-container table.report-layout td {
  color: inherit;
  width: auto;
  height: auto;
}

/* Allow wrapping text for forms that use "div" instead of tables. */
.crm-container form table label {
  white-space: normal;
}

/* This stops white label text on a white background with contribution pages and bootstrap */
div.crm-section div.label {
  color: inherit;
}

/*
--------------------------------------------------------------------------------
crmStatusPage.css overrides
--------------------------------------------------------------------------------
*/

/* For drupal7 (bootstrap theme) we need to explicity set the button color and fontweight */
#crm-status-list .crm-status-item .hush-menu button
{
  line-height: 1.3;
  color: buttontext;
  font-weight: 600;
}

/* Make inline links in text more visible (per wordpress) (eg. price set click here, clickable status checks) */
.crm-container a:-webkit-any-link {
  text-decoration: underline;
}