/* Styles for credit card payment logos */
.crm-container .credit_card_type-section .crm-credit_card_type-icons a {
  display: block;
  float: left;
  width: 50px;
  height: 30px;
  background: url(../../../civicrm/civicrm/i/creditcard-icons.png) no-repeat 0 0 transparent;
  text-indent: -20000px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: 1px solid #FFFFFF;
}

.crm-container .credit_card_type-section .crm-credit_card_type-icons .crm-credit_card_type-icon-visa {
  background-position: -50px 0;
}

.crm-container .credit_card_type-section .crm-credit_card_type-icons .crm-credit_card_type-icon-mastercard {
  background-position: -100px 0;
}

.crm-container .credit_card_type-section .crm-credit_card_type-icons .crm-credit_card_type-icon-amex {
  background-position: -150px 0;
}

.crm-container .credit_card_type-section .crm-credit_card_type-icons .crm-credit_card_type-icon-discover {
  background-position: -200px 0;
}

.crm-container .credit_card_type-section .crm-credit_card_type-icons .crm-credit_card_type-icon-jcb {
  background-position: -250px 0;
}

.crm-container .credit_card_type-section .crm-credit_card_type-icons .crm-credit_card_type-icon-unionpay {
  background-position: -300px 0;
}

.crm-container .cvv2-icon {
  display: inline-block;
  width: 50px;
  height: 30px;
  background: url(../../../civicrm/civicrm/i/creditcard-icons.png) no-repeat 0 0 transparent;
}

/* Avoid weird border around the images (some themes will add a border around images) */
#crm-container .credit_card_type-section .crm-credit_card_type-icons a,
#crm-container .credit_card_type-section .crm-credit_card_type-icons a:link,
#crm-container .credit_card_type-section .crm-credit_card_type-icons a:hover,
#crm-container .credit_card_type-section .crm-credit_card_type-icons a:focus,
#crm-container .credit_card_type-section .crm-credit_card_type-icons a:active {
  color: #fff;
}

/* Public Pages */

#crm-container.crm-public input[type="text"],
#crm-container.crm-public input[type="password"],
#crm-container.crm-public input[type="email"],
#crm-container.crm-public select {
  padding: 5px;
  border-radius: 3px;
  vertical-align: middle;
  max-width: 100%;
}

#crm-container.crm-public .label,
#crm-container.crm-public .price-field-amount {
  padding-top: 6px;
}

.crm-container.crm-public .select2-container,
.crm-container.crm-public .select2-results {
}
.crm-container.crm-public .select2-container .select2-choice {
  padding: 5px 5px 5px 8px;
}
.crm-container.crm-public .select2-container-multi .select2-choices {
  padding: 4px;
}
.crm-public .select2-container .select2-choice .select2-arrow {
  width: 20px;
}
.crm-public .select2-container .select2-choice .select2-arrow b {
  position: relative;
  top: 2px;
  left: 2px;
}
.crm-container.crm-public .select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 3px 3px 20px;
}
.crm-container.crm-public .select2-container-multi .select2-choices:before {
  top: 9px;
}

.crm-public .crm-profile-view .content {
  padding-top: 6px;
}

#crm-container.crm-public .calc-value,
#crm-container.crm-public .content {
  padding-top: 6px;
}

#crm-container.crm-public .crm-section,
.crm-section {
  margin-bottom: 0;
}

#crm-container.crm-public #crm-submit-buttons {
  margin-top: 30px;
}

#crm-container.crm-public #premiums-listings {
  margin-top: 10px;
  min-width: 450px;
  width: 60%;
}

#crm-container.crm-public #premiums-listings .premium {
  margin: 5px 0;
}

#crm-container.crm-public #premiums-listings .premium .premium-short {
  padding: 10px;
  border: 2px solid #ffffff;
  background-color: #f0f0f0;
  cursor: pointer;
}

#crm-container.crm-public #premiums-listings .premium .premium-short:hover {
  border: 2px solid #b0b0b0;
}

#crm-container.crm-public #premiums-listings .premium .premium-short-thumbnail {
  float: left;
  width: 50px;
}

#crm-container.crm-public #premiums-listings .premium .premium-short-thumbnail img {
  width: 50px;
}

#crm-container.crm-public #premiums-listings .premium .premium-short-content {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

#crm-container.crm-public #premiums-listings .premium .premium-full {
  display: none;
  padding: 5px;
  border: 2px solid #cfcfcf;
  background-color: #ffffff;
}

#crm-container.crm-public #premiums-listings .premium .premium-full .premium-full-image {
  float: left;
  width: 200px;
  padding: 10px;
}

#crm-container.crm-public #premiums-listings .premium .premium-full .premium-full-image img {
  width: 200px;
}

#crm-container.crm-public #premiums-listings .premium .premium-full .premium-full-title {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

#crm-container.crm-public #premiums-listings .premium .premium-full .premium-full-min {
  font-style: italic;
}

#crm-container.crm-public #premiums-listings .premium.premium-no_thanks .premium-short {
  text-align: center;
  padding: 10px;
}

#crm-container.crm-public #premiums-listings .premium.premium-no_thanks .premium-full {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

#crm-container.crm-public #premiums-listings .premium.premium-disabled .premium-short,
#crm-container.crm-public #premiums-listings .premium.premium-disabled .premium-full .premium-full-image,
#crm-container.crm-public #premiums-listings .premium.premium-disabled .premium-full .premium-full-title,
#crm-container.crm-public #premiums-listings .premium.premium-disabled .premium-full .premium-full-description,
#crm-container.crm-public #premiums-listings .premium.premium-disabled .premium-full .premium-full-options,
#crm-container.crm-public #premiums-listings .premium.premium-disabled .premium-full .premium-full-min {
  opacity: 0.5;
}
#crm-container.crm-public #premiums-listings .premium .premium-full-disabled {
  display: none;
}
#crm-container.crm-public #premiums-listings .premium.premium-disabled .premium-full-disabled {
  display: block;
  color: #ff0000;
  text-align: center;
  font-weight: bold;
  margin-bottom: .5em;
}

#crm-container.crm-public .price-set-row {
  margin-bottom: 5px;
}

#crm-container.crm-public .price-set-row input,
#crm-container.crm-public .price-set-row label {
  vertical-align: middle;
  cursor: pointer;
}

#crm-container.crm-public .price-set-row .crm-price-amount-amount {
  min-width: 2em;
  color: #333333;
}

#crm-container.crm-public .price-set-row .crm-price-amount-label {
  color: #444444;
  font-weight: bold;
}

#crm-container.crm-public .price-set-row .highlight label {
  color: #000000;
  font-weight: bold;
}

#crm-container.crm-public .price-set-row .highlight .crm-price-amount-label {
  color: #222222;
}

#crm-container.crm-public .price-set-option-content > tt {
  display: none;
}

#crm-container .sold-out-option,
#crm-container .price-set-row span.sold-out-option .crm-price-amount-label,
#crm-container .price-set-row span.sold-out-option .crm-price-amount-amount {
  font-style: italic !important;
  font-weight: normal !important;
  color: #666 !important;
}

.crm-container .strikethrough {
  text-decoration: line-through;
}

.crm-container input.ng-invalid.ng-dirty,
.crm-container select.ng-invalid.ng-dirty,
.crm-container textarea.ng-invalid.ng-dirty {
  border: 1px solid red;
}
.crm-container input.ng-valid,
.crm-container input.ng-pristine,
.crm-container textarea.ng-valid,
.crm-container textarea.ng-pristine,
.crm-container select.ng-valid,
.crm-container select.ng-pristine{
  border: 1px solid #666;
}